<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">
      &copy;
      <span id="copyright">
        YelpCamp
        <script>
          document
            .getElementById("copyright")
            .appendChild(document.createTextNode(new Date().getFullYear()));
        </script>
      </span>
    </span>
  </div>
</footer>
